@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #001726;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #acf119;
}